

.dart_tool/
.packages
.idea/
.vscode/
build/
pubspec.lock

.gitattributes
.firebase/
lib/admin/
lib/constants/private_constants.dart
doc/api/

.env*
lib/constants/private_constants.dart
cors.json
*.dart.js
*.info.json     
*.js            
                
.firebaserc
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
firebase_options.dart